body {
    background: white;
}
h1{
    color: rgb(36, 48, 156);
    justify-content: right;
}
h2 {
    color: burlywood;
}
#navabar {
    
    display: flex;
    justify-content: space-between;  
}
#navbar a {
    text-decoration: none;
    font-size: 23px;
    color: rgb(201, 101, 62);
}
#navabar ul {
       list-style-type: none;

}
#navbar a:hover {
    color: rgb(3, 0, 0);
    
} 
#navbar li {
    padding: 30px;
    display: inline; 
 
}
.landing-page {
    display: flex;
    height: 90vh;
    align-items: center;
} 
.landing-page .left {
    width: 50%;
}
.landing-page .img {
    width: 700px;
    border-radius: 10px;
    float: right;
    margin-left: 10px;
}
.footer div{
    padding: 40px;
    justify-content: flex-end;

}
.footer p{
    margin-top: 20px;
}

